button{
  height: 50px;
  width: 80px;
  border: 2px solid #2a4d69;
  margin: 10px;
  padding: 10px;
  background-color: #e7eff6;
}

#topTitulo{
  width: 380px;
  margin: 0 auto;
}

#topCorpo{
  width: 500px;
  margin: 0 auto;
}

.img{
  border: 3px solid #2a4d69;
  margin: 1px 30px;
  width: 150px;
  list-style: none;
  display: inline-block;
  padding: 5px 5px 0 5px;

}
.topImg{
  width: 150px;
  height: 150px;
}

